body {
    margin: 0px;
    padding: 0px;
    background: #F3F7FA;
    text-align: center;
    font-size: 18px;
}

.app {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #fff;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}