.button {
    cursor: pointer;
    background-color: #34a8eb;
    border-radius: 5px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 7px 15px;
}

.button:hover {
    background-color: #187cb5;
}

.button:active {
    position: relative;
    top: 1px;
}

.button:focus {
    outline: none;
}